@import './../../../generalScss/mixins.scss';
@import './../../../generalScss/variables.scss';

.item {
    &__body {}

    &__picture {
        @include adapt-value(margin-bottom,15,10,0);

    }

    &__image {
        position      : relative;
        padding-bottom: 100%;
        padding-left  : 100%;

        img {
            position  : absolute;
            left      : 0;
            top       : 0;
            width     : 100%;
            height    : 100%;
            object-fit: cover;

        }
    }

    &__title {
        color      : $white;
        text-align : center;
        
        @include adapt-value(font-size,20,calc(20 * 1.2),0);
        font-weight: 600;
        line-height: 1.25;

    }
}